*{
  box-sizing: border-box;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  opacity: .9;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #0c343d;
  color: #eee;
  display: flex;
  flex-flow: column wrap;
}

/*--topbar fixed or sticky--*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background-color: #264349;
  opacity: .9;
  color: #f1c232;
  border-bottom: .5px solid #f1c232;
}
.profile{
  display: block;
  width: 70vw;
  margin:40px auto 85px;
}
.profile-title{
  display: block;
  text-align: center;
  margin: 20px;
}

.profile-img{
  height: 200px;
  width: 200px;
  margin: auto;
}

.profile-desc{
  text-shadow: 0px 2px 1px 0px rgba(0,0,0,.9);
  width: 95vw;
  margin: 13px auto 0px;
  padding: 5px 20px 35px;
  position: relative;
}
.head-title {
  font-size: 24px;
  font-weight: 700;
}
#image{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
  }
  #img-caption{
      font-size: 28px;
      color: #f1c232;
      text-align: center;
      padding: 5px;
  }
  #img-caption .small{
      font-size: 18px;
      display: block;
     
  }

.bibliography,.awords,.time-line{
     background:rgb(195, 195, 195) ;
     border-radius: 5px;
     box-shadow: 0px 2px 1px 0px rgba(0,0,0,.9);
     width: 95vw;
     margin: 13px auto 0px;
     padding: 5px 20px 35px;
     position: relative;
  }
  .sec-head{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      color: #0c343d;
      font-weight: 800;
  }
  .icon-img{
      height: 54px;
      width: 54px;
  }
  .sec-body{
      margin-top: -20px;
  }
  .sec-body>p{
      text-align: justify;
  }
  .sec-body>ul{
   margin-top: 15px;
   padding: 0;
  }
  .sec-body li{
    list-style: none;
    width: 100%;
    height: ;
    border: .5px solid transparent;
    position: relative;
    padding-left: 30px;
  }
  .sec-body li:hover{
    background: #f1c232;
  }
  .sec-body li::before{
    content: '';
    height: 18px;
    width: 18px;
    position: absolute;
    left: 5px;
    background-image: url('img/flag/Flag_of_Cameroon.svg');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: contain;
    margin: 10px 0px 
  }
  .sec-body li.gre::before{
    background-image: url('img/flag/Flag_of_the_United_Kingdom.svg');
  }
  .sec-body li.tun::before{
    background-image: url('img/flag/Flag_of_Tunisia.svg.png');
  }
  .sec-body li.sen::before{
    background-image: url('img/flag/Flag_of_Senegal.svg');
  }
  .sec-body li.fra::before{
    background-image: url('img/flag/Flag_of_France.svg');
  }
  .sec-body li.uk::before{
    background-image: url('img/flag/Flag_of_the_United_Kingdom.svg');
  }
  .sec-body li.mor::before{
    background-image: url('img/flag/Flag_of_Morocco.svg');
  }
  .sec-body li.nig::before{
    background-image: url('img/flag/Flag_of_Nigeria.svg.png');
  }
  .sec-body li.us::before{
    background-image: url('img/flag/Flag_of_the_United_States.svg');
  }
  .sec-body li.chi::before{
    background-image: url('img/flag/Flag_of_the_People\'s_Republic_of_China.svg');
  }
  .button{
      background: #f1c232;
      width: 100px;
      color: #0c343d;
      padding: 5px;
      margin: 1px;
      position: absolute;
      bottom: 15px;
      right: 20px;
      border: 1px solid transparent;
      box-shadow: 1px 1px 2px rgba(0,0,0,.8);
  }
  .time-line .time-title {
      width: 50px;
      height: 50px;
      background: #f1c232;
      color: #0c343d;
      display: block;
      border-radius: 50%  ;
      -webkit-border-radius: 50%  ;
      -moz-border-radius: 50%  ;
      -ms-border-radius: 50%  ;
      -o-border-radius: 50%  ;
      text-align: center;
      padding: 10px 0px;;
      margin: auto;
  }
  .time-line .time-desc {
    border-left: 10px solid #f1c232;
    padding-left: 10px;
}

@media (max-width:415px) {
  .head-navbar, .sec-hidden {
      display: none;
  }

  .btn-menu {
      position: relative;
      display: block;
      width: 40px;
      height: 4px;
      background: #f1c232;
  }

  .btn-menu::before {
      position: absolute;
      top: -10px;
      content: '';
      display: block;
      width: 30px;
      height: 4px;
      background: #f1c232;
  }

  .btn-menu::after {
      position: absolute;
      top: 10px;
      content: '';
      display: block;
      width: 25px;
      height: 4px;
      background: #f1c232;
  }
  .btn-menu:active {
      position: relative;
      display: block;
      width: 20px;
      height: 4px;
      background: #f1c232;
      margin-right: 30px;
  }
 
  .profile-desc{
      display: none;
  }
  
 
  
}
@media (min-width:416px) {
  .header {
   flex-direction: column;
  }
  
  .head-navbar > ul {
    margin: 0;
  
    display: flex;
    justify-content: center;
  }
  .head-navbar li {
    list-style: none;
    padding: 5px 10px 2px;
  }
  .head-navbar li a {
    text-decoration: none;
    color: #f1c232;
    opacity: .2;
  }
  .head-navbar li a:hover {
    opacity: .8;
  }
}
@media (min-width:640px) {
  .header {
   flex-direction: row;
  }
}